<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Predictor Test Heart Sense</title>


  <!-- jquery, popper, bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>

<div class="container">
  <div id="intro">
    <div class="text-left" style="text-align: justify">
      <h2 style="font-size:28px">We created a Machine Learning model utilizing the KNN classification algorithm
        against the
        <a href="https://archive.ics.uci.edu/ml/datasets/Heart+Disease">Cleveland medical school</a>
        to see if we could predict your risk for heart disease based on your medical records.
        The accuracy of this model is 98% against a test dataset. This model is for predictive purposes only and
        should not be used as medical advice.</h2>
    </div>
  </div> <!--div intro-->
  

  <div class="panel panel-default">
    <div class="panel-body">
      <h1 style="text-align:center">Please input your medical parameters, and watch our trained AI try to predict your
        risk for heart disease.</h1>
      <br> <br>

      <div class="row">
        <div class="col-md-6">
          <div class="dropdown text-center">
          <p>Age</p>
          <!-- <div class="container mt-5" style="width: 300px;"> -->
            <input placeholder="Age" required type="number" value="" min="21" max="85" step="5" />
          </div>
        </div>
        <div class="col-md-6">
        <div class="dropdown text-center">
          <!-- <div class="dropdown text-left" style="padding-left:10%"> -->
          <p>Gender</p>
          <select id="selGender">
            <option value="1">Male</option>
            <option value="0">Female</option>
          </select>
        </div>
        </div>
        <div class="row">
        <div class="dropdown text-center">
          <h2>Any chest pain in past 30 days</h2>
          <select id="selchestPain">
            <option value="1">yes</option>
            <option value="4">no</option>

          </select>
        </div>
        <br>
        <div class="dropdown text-center">
          <h2>Resting blood pressure (top number (X) in X/Y)</h2>
          input number between 100 and 200
          <select id="selDataset4">
            <option value="1">Hispanic or Latino</option>
            <option value="2">Non-Hispanic</option>
          </select>
        </div>
        <br>
        <div class="dropdown text-center">
          <h2>Total Cholestoral Level</h2>
          <select id="selDataset5">
            <option value="187">Normal (< 200)</option> <option value="230">Borderline High (200-239)</option>
            <option value="265">High (240 and higher)</option>
          </select>
        </div>
        <div class="dropdown text-center">
          <h2>Fasting Blood Suger > 120?</h2>
          <select id="selDataset5">
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
        </div>
        <div class="dropdown text-center">
          <h2>Resting ECG > 120?</h2>
          <select id="selDataset5">
            <option value="0">Normal</option>
            <option value="2">Abnormal</option>
          </select>
        </div>
        <div class="dropdown text-center">
          <h2>Max Heart Rate</h2> input value between 75-200
          <select id="selDataset5">
            <option value="0">Normal</option>
            <option value="2">Abnormal</option>
          </select>
        </div>

        <div class="dropdown text-center">
          <h2>Do you experience chest pain when you do high intensity exercise (ie running)</h2>
          <select id="selDataset5">
            <option value="0">Yes</option>
            <option value="2">No</option>
          </select>
        </div>
        <p align="center">
          <br />
          <br />
          <button id="Submitbutton" class="button" value='Submit' onclick="makePredictions()">Submit
            <!-- <img src="../static/css/pill_glyph.PNG" /> -->
          </button>
        </p>
      </div>
</div>
</body>


